/*Clothing Styling*/
#clothing-hub {
  background: #e6e6e6;
  font-size: 11px;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}

#hub-photo {
  border-radius: 50px;
  background: linear-gradient(315deg, #F6F6F6, #CFCFCF);
  box-shadow: -35px -35px 70px #B3B3B3,
    35px 35px 70px #FFFFFF;
  width: 25%;
  height: 25%;
  display: flex;
}

#title {
  font-size: 38px;
  color: #FB2828;
  text-shadow: -1px 1px 2px #030000,
    1px -1px 2px #FF5050;
}

#clothing-information {
  font-size: 30px;
}

.topnav {
  overflow: hidden;
  background-color: darkgrey;
  position: sticky;
  top: 0;
}