/*Clothing Styling*/
.clothing-container{
  display: flex;
  flex-wrap: wrap
}
.clothing-card{
  width: 33%;
}
#clothing-hub {
  background: #e6e6e6;
  font-size: 11px;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}

#hub-photo {
  border-radius: 50px;
  background: linear-gradient(315deg, #F6F6F6, #CFCFCF);
  box-shadow: -35px -35px 70px #B3B3B3,
    35px 35px 70px #FFFFFF;
  width: 15%;
  height: 15%;
  display: flex;
  cursor: pointer;
}

#title {
  font-size: 38px;
  color: #FB2828;
  text-shadow: -1px 1px 2px #030000,
    1px -1px 2px #FF5050;
}

#clothing-information {
  font-size: 30px;
  color: #4f4f4f;
  text-shadow: 4px -4px 8px #3c3c3c,
  -4px 4px 8px #626262;
}

.topnav {
  overflow: hidden;
  background-color: #e6e6e6;
  background: linear-gradient(315deg, #F6F6F6, #d0d0d0);
  box-shadow: -35px -35px 70px #B3B3B3,
    35px 35px 70px #FFFFFF;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-around;
}
#nav-title{
  font-size: 48px;
  font-family:'Courier New', Courier, monospace;
  color: #040303;
  text-shadow: -1px 1px 2px #030000,
    1px -1px 2px #FF5050;
cursor: pointer;
}

#home-button{
  color: #1f1e1e;
text-shadow: 7px -7px 14px #100f0f,
-7px 7px 14px #2e2d2d;
cursor: pointer;
}

#detail-photo {
  width: 35%;
  height: 35%;
}

#title {
  cursor: pointer;
}